<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/crs</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <!-- <property name="format_sql">true</property> -->

        <mapping class="edu.ijse.crs.entity.CourseEntity"/>
        <mapping class="edu.ijse.crs.entity.DepartmentEntity"/>
        <mapping class="edu.ijse.crs.entity.EnrollmentEntity"/>
        <mapping class="edu.ijse.crs.entity.FacultyEntity"/>
        <mapping class="edu.ijse.crs.entity.PrerequisitesEntity"/>
        <mapping class="edu.ijse.crs.entity.ProgramDetailsEntity"/>
        <mapping class="edu.ijse.crs.entity.ProgramEntity"/>
        <mapping class="edu.ijse.crs.entity.SemesterEntity"/>
        <mapping class="edu.ijse.crs.entity.StudentEntity"/>
        <mapping class="edu.ijse.crs.entity.UserEntity"/>

    </session-factory>
</hibernate-configuration>